<!DOCTYPE html>
<%= stylesheet_link_tag 'admin' %>

<main>
    <% if admin_signed_in? %>
        <h1>Articles#admin</h1>
        <p>Find me in app/views/articles/admin.html.erb</p>
    <% else %>
        <p>You are not authorized to access this page.</p>
    <% end %>
</main>
