<!DOCTYPE html>
<%= stylesheet_link_tag 'work' %>
<main>
    <h1>Work Experience</h1>
    <ui class="work-exp-list">
        <li class="work-item">
            <h5>Kroger (Grovetown, GA)</h5>
            <h5>August 2021 - Present</h5>
            <h6>Position:<h6><p>Store Clerk</p>
            <h6>Duties:<h6>
            <p>Description.</p>
        </li>

        <li class="work-item">
            <h5>McDonald’s (Fayetteville, NC)</h5>
            <h5>April 2020 - May 2021</h5>
            <h6>Position:<h6><p>Team Member</p>
            <h6>Duties:<h6>
            <p>Description.</p>
        </li>
    </ui>


    <h1>Computer Skills</h1>
    <ui class="skill-list">
        <li class="skill-item">
            <p>Python - As part of a class project, I created a model using Scikit Learn's Support Vector Classifier to identify broken bones in medical X-rays. This model could detect broken bones in medical x-rays with an accuracy rate of 97%.</p>
        </li>

        <li class="skill-item">
            <p>Computer Systems Design - Built a miniature model of a building with a working elevator, AC unit, motion sensor unit, and RFID scanner utilizing Arduino microprocessors.</p>
        </ui>

        <li class="skill-item">
            <p>Ruby on Rails - This website.</p>
        </ui>

        <li class="skill-item">
            <p>Svelte/SvelteKit - For a class project, I developed a resume website hosted on GitHub, similar to this one.            </p>
        </ui>

        <li class="skill-item">
            <p>Web Technologies - HTML, CSS, JavaScript</p>
        </ui>

        <li class="skill-item">
            <p>Other Competencies - C#, Java, C++, SQL</p>
        </ui>
    </ui>
</main>
