/* Main styles */
h1 {
    color: orange;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

/* Work Experience section */
.work-exp-list {
    color: var(--text-secondary);
    list-style: none;
    padding: 0;
    margin-bottom: 4rem; /* Increased margin for separation */
}

.work-item {
    background-color: var(--bg-secondary);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 6px white;
    display: flex;
    flex-direction: column; /* Arrange children vertically */
    margin-bottom: 5rem;
}

.work-info {
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Space items evenly */
    margin-bottom: 1rem; /* Add space between work-info and work-description */
}

.work-position {
    display: flex; /* Use flexbox */
}

.work-description {
    display: flex; /* Use flexbox */
}

.work-item h5 {
    font-size: 20px;
}

.work-description h6 {
    font-size: 20px;
}

.work-position h6 {
    font-size: 20px;
}

.work-item p {
    font-size: 1rem;
    margin-bottom: 0;
    padding-top: 2rem;
    padding-left: 5rem;
}

@media screen and (max-width: 768px) {
    .work-item p {
        padding-left: 1rem;
    }
}

/* Computer Skills section */
.skill-list {
    color: var(--text-secondary);
    list-style: none;
    padding: 0;
}

.skill-item {
    background-color: var(--bg-secondary);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 6px white;
    margin-bottom: 5rem;
}

.skill-item p {
    font-size: 1rem;
}

/* Differentiation between sections */
.section-heading {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    position: relative;
}

.section-heading::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -1rem;
    transform: translateX(-50%);
    width: 80px;
    height: 4px;
    background-color: #333;
}

@media screen and (min-width: 1001px) {
    .work-item:hover {
        transform: scale(1.1); /* Slightly enlarge the item on hover */
    }
    .skill-item:hover {
        transform: scale(1.1); /* Slightly enlarge the item on hover */
    }
}
